In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\us4moooow\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\us4moooow\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\us4moooow\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\us4moooow\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\us4moooow\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\us4moooow\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\us4moooow\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
shoes_dataset = pd.read_csv('Shoe prices.csv')

In [4]:
shoes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        1006 non-null   object
 1   Model        1006 non-null   object
 2   Type         1006 non-null   object
 3   Gender       1006 non-null   object
 4   Size         1006 non-null   object
 5   Color        1006 non-null   object
 6   Material     1006 non-null   object
 7   Price (USD)  1006 non-null   object
dtypes: object(8)
memory usage: 63.0+ KB

In [5]:
shoes_dataset.columns

Index(['Brand', 'Model', 'Type', 'Gender', 'Size', 'Color', 'Material',
       'Price (USD)'],
      dtype='object')

In [6]:
shoes_dataset.isnull().sum()

Brand          0
Model          0
Type           0
Gender         0
Size           0
Color          0
Material       0
Price (USD)    0
dtype: int64

In [7]:
shoes_dataset.describe()

       Brand   Model     Type Gender    Size  Color Material Price (USD)
count   1006    1006     1006   1006    1006   1006     1006        1006
unique    10     239       18      2      13     82       34          33
top     Nike  Sk8-Hi  Running    Men  US 8.5  Black     Mesh     $65.00
freq     118      39      332    535     132    178      308         121

In [8]:
shoes_dataset.shape()

TypeError: 'tuple' object is not callable

In [ ]:
shoes_dataset.sample(4)

In [ ]:
# Model
shoes_dataset = shoes_dataset.drop('Model', axis=1)

In [ ]:
shoes_dataset.head()

In [ ]:
# Brand
shoes_dataset['Brand'].value_counts()

In [ ]:
shoes_dataset['Brand'].value_counts().plot(kind='bar', legend='false')

In [ ]:
df['Brand'].value_counts().plot(kind='bar', legend='false')
plt.title('Brand Counts')
plt.xlabel('Brand names')
plt.ylabel('Counts')
plt.show()

In [ ]:
# Type
shoes_dataset['Type'] = shoes_dataset['Type'].str.lower()

In [ ]:
shoes_dataset['Type'].value_counts()

In [ ]:
shoes_dataset['Type'].value_counts().plot(kind='bar', legend='false', color = 'green')
plt.title('Type Counts')
plt.xlabel('Type names')
plt.ylabel('Counts')
plt.show()

In [ ]:
def add_type(inpt):
    if inpt=='casual' or inpt=='fashion' or inpt=='lifestyle' or inpt=='slides' or inpt=='retro' :
        return inpt
    else :
        return 'sport'
shoes_dataset['Type'] = shoes_dataset['Type'].apply(add_type)

In [ ]:
shoes_dataset['Type'].value_counts()

In [ ]:
shoes_dataset['Type'].value_counts().plot(kind='bar', legend='false', color = 'green')
plt.title('New Type Counts')
plt.xlabel('Type names')
plt.ylabel('Counts')
plt.show()

In [ ]:
## Gender
shoes_dataset['Gender'].value_counts()

In [ ]:
shoes_dataset['Gender'].value_counts().plot(kind='pie', autopct='%1.1f%%', startangle = 90)
plt.title('Gender Distribution')
plt.axis('equal')
plt.show()

In [ ]:
## Size
shoes_dataset['Size'] = shoes_dataset['Size'].str.replace('US','')

In [ ]:
shoes_dataset.head()

In [ ]:
shoes_dataset['Size'] = shoes_dataset['Size'].astype(float)

In [ ]:
shoes_dataset.info()

In [ ]:
## Color
shoes_dataset['Color'] = shoes_dataset['Color'].str.lower()

In [ ]:
shoes_dataset['Color'].value_counts()

In [ ]:
shoes_dataset['Color'].value_counts().plot(kind='bar', legend='false',  = 'green')
plt.title('Color Counts')
plt.xlabel('Color names')
plt.ylabel('Counts')
plt.show()

In [ ]:
def add_Color(inpt):
    if inpt=='black' or inpt=='white' or inpt=='grey' or inpt=='black/white' or inpt=='pink' :
        return inpt
    else :
        return 'other'
shoes_dataset['Color'] = shoes_dataset['Color'].apply(add_Color)

In [ ]:
shoes_dataset['Color'].value_counts()

In [ ]:
shoes_dataset['Color'].value_counts().plot(kind='bar', legend='false',  = 'green')
plt.title('New Color Counts')
plt.xlabel('Color names')
plt.ylabel('Counts')
plt.show()

In [ ]:
## Material
shoes_dataset['Material'] = shoes_dataset['Material'].str.lower()

In [ ]:
shoes_dataset['Material'].value_counts()

In [ ]:
shoes_dataset['Material'].value_counts().plot(kind='bar', legend='false',  = 'green')
plt.title('Material Counts')
plt.xlabel('Material names')
plt.ylabel('Counts')
plt.show()

In [ ]:
def add_Material(inpt):
    if inpt=='mech' or inpt=='leather' or inpt=='canvas' or inpt=='primeknit' or inpt=='synthetic' or inpt=='suede' or inpt=='knit' or inpt=='nylon' :
        return inpt
    else :
        return 'other'
shoes_dataset['Material'] = shoes_dataset['Material'].apply(add_Material)

In [ ]:
shoes_dataset['Material'].value_counts()

In [ ]:
shoes_dataset['Material'].value_counts().plot(kind='bar', legend='false',  = 'green')
plt.title('New Material Counts')
plt.xlabel('Material names')
plt.ylabel('Counts')
plt.show()

In [ ]:
## Price
shoes_dataset['Price (USD)'] = shoes_dataset['Price (USD)'].str.replace('$','').astype(float)
shoes_dataset.head(5)

In [ ]:
sns.set()
sns.scatterplot(data=shoes_dataset, x="Brand", y="Price (USD)")

In [ ]:
shoes_dataset.info()

In [ ]:
shoes_dataset = pd.get_dummies(shoes_dataset,dtype=int)
shoes_dataset.head(5)
shoes_dataset.info()

In [ ]:
x = shoes_dataset.drop('Price (USD)', axis=1)
x

In [ ]:
y = shoes_dataset['Price (USD)']
y